[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "infoDecompuTE"]
	path = infoDecompuTE
	url = https://github.com/kcha193/infodecompute
[submodule "normalr"]
	path = normalr
	url = https://github.com/kcha193/normalr
